<div class="row">
  <div class="col-12">
    <app-advanced-table-search #advancedSearch [mergeQueryParams]="true" [(filter)]="filter" [collapsed]="true" [table]="table">
      <advanced-search>
        <app-advanced-search-form #search (filterChange)="advancedSearch.asyncAdvancedSearch()" (loading)="onSearchLoading($event)" [(filter)]="filter" [formSrc]="activeTableSrc && activeTableSrc.searchConfigSrc || searchConfigSrc"></app-advanced-search-form>
      </advanced-search>
    </app-advanced-table-search>
  </div>
</div>

<div *ngIf="recordsTotal && oldClass" class="alert shadow fade show alert-info mt-4">
  <div [translate]="'Events.OldClassMessage'"></div>
</div>
  
<div class="mb-5">
  <ng-container *ngTemplateOutlet="toolbar"></ng-container>

  <!-- tableView view -->
  <div [hidden]="!tableView">
    <app-advanced-table #table [autoLoad]="false" [configSrc]="activeTableSrc && activeTableSrc.tableConfigSrc || tableConfigSrc" (load)="onTableDataLoad($event)"
      (loading)="onTableLoading($event)"></app-advanced-table>
  </div>

  <!-- begin: calendar view -->
  <div [hidden]="tableView">
    <ng-container *ngTemplateOutlet="calendarNavigationBar"></ng-container>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view 
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [activeDayIsOpen]="activeDayIsOpen"
        [refresh]="newEventSubject"
        [cellTemplate]="monthDayTemplate"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="navigateToEvent($event.event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view 
        *ngSwitchCase="CalendarView.Week" 
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [refresh]="newEventSubject"
        [dayStartHour]="8"
        (eventClicked)="navigateToEvent($event.event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view 
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [refresh]="newEventSubject"
        [dayStartHour]="8"
        (eventClicked)="navigateToEvent($event.event)">
      </mwl-calendar-day-view>
    </div>
  </div>
  <!-- end -->
</div>
<router-outlet></router-outlet>
<router-modal></router-modal>

<ng-template #toolbar>
  <div class="row justify-content-between">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 0">
        <span>&nbsp;</span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span>{{'Events.Tables.Events' | translate}} ({{activeTableSrc.name | translate}})</span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span>{{'Events.Tables.Event' | translate}} ({{activeTableSrc.name | translate}})</span>
      </div>
    </div>
    <div class="col-auto mt-3">
      <div class="font-lg btn-toolbar">
        <ng-container *ngIf="showAdd">
          <div class="d-flex align-self-center">
            <a class="text-indigo text-decoration-none mr-2" [routerLink]="['.', 'add']">
              <span>+</span><span>&nbsp;</span><span [translate]="'Events.newSimpleEvent'"></span>
            </a>
            <a class="text-success text-decoration-none mr-2" [routerLink]="['.', 'addRecursive' ]">
              <span>+</span><span>&nbsp;</span><span [translate]="'Events.newRecursiveEvent'"></span>
            </a>
          </div>
        </ng-container>
        <div class="btn-group">
          <div class="btn-group ml-2" role="group">
            <button type="button" class="btn border border-indigo" (click)="changeView(true); reload()"
              [ngClass]="{ 'btn-indigo': tableView, 'btn-gray-100 text-gray-300': !tableView }">
              <i class="fas fa-list"></i>
            </button>
            <button type="button" class="btn border border-indigo" (click)="changeView(false); createCalendarView()" [disabled]="activeTableSrc && !activeTableSrc.calendarView"
              [ngClass]="{ 'btn-indigo': !tableView , 'btn-gray-100 text-gray-300': tableView }">
              <i class="fas fa-calendar"></i>
            </button>
          </div>

          <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <!-- common actions -->
            <button *ngIf="courseClass && instructor" [disabled]="oldClass" class="dropdown-item" (click)="newEvent()" [translate]="'Events.newSimpleEvent'"></button>
            <button *ngIf="courseClass && instructor" [disabled]="oldClass" class="dropdown-item" (click)="newEvent(true)" [translate]="'Events.newRecursiveEvent'"></button>
            <button [disabled]="!recordsTotal" class="dropdown-item" (click)="exportCalendar()" [disabled]="activeTableSrc && !activeTableSrc.icsExport" [translate]="'Events.ExportICS'"></button>
            <button [disabled]="!recordsTotal" class="dropdown-item universis-btn-export" [translate]="'Events.ExportXLSX'"></button>
            <!-- additional actions depending on the view -->
            <ng-container *ngTemplateOutlet="tableView ? tableActions : calendarActions"></ng-container>
            <!-- change table actions -->
            <div class="dropdown-divider"></div>
            <ng-container *ngIf="tableSources && tableSources.length > 1">
              <ng-container *ngFor="let tableSrc of tableSources">
                <button class="dropdown-item" (click)="changeView(true); activeTableSrc = tableSrc;" [translate]="tableSrc.name"
                  [disabled]="activeTableSrc.tableConfigSrc === tableSrc.tableConfigSrc"></button>
              </ng-container>
            </ng-container>
          </div>
          
          <ng-template #tableActions>
            <ng-container *ngIf="showActions">
              <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="editEventStatusAction()" [translate]="'Events.EditEventStatusAction.Title'"></button>
              <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="deleteEventAction()" [translate]="'Events.DelEvent'"></button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'"></button>
              <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'"></button>
            </ng-container>
          </ng-template>
          <ng-template #calendarActions>
          </ng-template>
          
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #calendarNavigationBar>
  <div class="row justify-content-center">
    <div class="btn-group">
      <div class="btn font-xl" mwlCalendarPreviousView [view]="view" [viewDate]="viewDate" (viewDateChange)="handleViewDateChange($event)">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="d-flex align-items-center">
        <h3 class="mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'): locale }}</h3>
        <!-- monthly-daily-weekly view switch -->
        <div class="btn-group">
          <button type="button" class="text-dark btn btn-lg btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="setView(CalendarView.Month); activeDayIsOpen = false" [translate]="'Events.Month'"></a>
            <a class="dropdown-item" (click)="setView(CalendarView.Week); activeDayIsOpen = false" [translate]="'Events.Week'"></a>
            <a class="dropdown-item" (click)="setView(CalendarView.Day); activeDayIsOpen = false" [translate]="'Events.Day'"></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" mwlCalendarToday [viewDate]="viewDate" (viewDateChange)="handleViewDateChange($event)" [translate]="'Events.Today'"></a>
          </div>
        </div>
      </div>
      <div class="btn font-xl" mwlCalendarNextView [view]="view" [viewDate]="viewDate" (viewDateChange)="handleViewDateChange($event)">
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </div>
  <br>
</ng-template>

<ng-template 
  #monthDayTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody"
  let-tooltipDelay="tooltipDelay"
  let-trackByEventId="trackByEventId"
  let-validateDrag="validateDrag">
  <div class="cal-cell-top" [attr.aria-label]="{ day: day, locale: locale } | calendarA11y : 'monthCell'">
    <span aria-hidden="true">
      <span class="cal-day-number">{{day.date | calendarDate : 'monthViewDayNumber' : locale}}</span>
    </span>
  </div>
  <div class="cal-events" *ngIf="day.events.length > 0">
    <div class="cal-event" *ngFor="let event of day.events; trackBy: trackByEventId"
      mwlDraggable
      dragActiveClass="cal-drag-active"
      [ngStyle]="{ backgroundColor: event.color?.primary }"
      [ngClass]="event?.cssClass"
      [mwlCalendarTooltip]="event.title | calendarEventTitle : 'monthTooltip' : event"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event"
      [tooltipTemplate]="tooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
      [tooltipDelay]="tooltipDelay"
      [class.cal-draggable]="event.draggable"
      [attr.aria-hidden]="{} | calendarA11y : 'hideMonthCellEvents'"
      [dropData]="{ event: event, draggedFrom: day }"
      [dragAxis]="{ x: event.draggable, y: event.draggable }"
      [validateDrag]="validateDrag"
      [touchStartLongPress]="{ delay: 300, delta: 30 }"
      (mwlClick)="eventClicked.emit({ event: event, sourceEvent: $event })"
      (mouseenter)="highlightDay.emit({ event: event })"
      (mouseleave)="unhighlightDay.emit({ event: event })">
    </div>
  </div>
</ng-template>
