<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" title="{{tab.data.title | translate}}" [routerLink]="[tab.path]" [routerLinkActive]="'active'" [fragment]="tab?.data?.model">{{tab.data.title | translate | shorten:30: '...'}}</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>