<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/events/list/open']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Events.TimetableEvents.Title'"></span></a>
    </li>
  </ul>
  <div class="row pt-2 pb-2" *ngIf="model">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2">
        {{model.name}} <span *ngIf="model.startDate && model.endDate" class="font-xl">{{model?.startDate | date:'dd/MM/yy'}} -
          {{model?.endDate | date: 'dd/MM/yy'}}</span>
        <span><i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate"
            class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span>
      </h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto">
      <div>
        <div *ngIf="edit" class="btn-group px-2 py-2">
          <a *ngIf="edit.click == null" class="btn btn-indigo" href="#{{edit.href}}" [translate]="edit.title"></a>
          <button [disabled]="edit.disabled" *ngIf="edit.click" type="button" class="btn btn-indigo" (click)="edit.click()"
            [translate]="edit.title"></button>
        </div>
      
        <div *ngIf="actions && actions.length" class="btn-group px-2 py-2">
          <button type="button" class="btn btn-outline-indigo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" [translate]="'Events.Actions'"></button>
          <div class="dropdown-menu">
            <ng-container *ngFor="let action of actions">
              <a *ngIf="action.click == null" class="dropdown-item" href="#{{action.href}}">{{ action.title | translate }}</a>
              <button [disabled]="action.disabled" *ngIf="action.click" class="dropdown-item pointer-event"
                (click)="action.click()">{{ action.title | translate }}</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-2 pb-2" *ngIf="!model">
    <div class="col-auto">
      <h1 class="text-dark">
        <span [translate]="'Events.TimetableEvents.New'"></span>
      </h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Events.StatusGeneral'"></span>
      </div>
      <div *ngIf="model.eventStatus && model.eventStatus.name" class="col-md-6 text-left">
        <span>{{('Events.Statuses.' + model.eventStatus?.name) | translate}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Events.From'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model?.startDate | date:'dd/MM/yy'}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Events.To'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model?.endDate | date:'dd/MM/yy'}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Events.Instructors.Department'"></span>
      </div>
      <div *ngIf="model && model.department" class="col-md-6 text-left">
        <span>{{model.department}} </span>
      </div>
    </div>
  </div>
</ng-template>